
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>笑话网站模板 AB模板网演示站点 - Www.AdminBuy.Cn</title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/gaoxiao.css"/>
</head>
<body>
<div class="header wrapper clearfix">
    <h1><a title="笑话大全" href="/"><img src="/static/images/logo.png" alt="笑话大全"></a></h1>
    <div class="search">
        <form name="formsearch" action="/plus/search.php">
            <input type="hidden" name="kwtype" value="0"/>
            <input name="q" type="text" id="search-keyword" class="searchinput" placeholder="笑话"/>
            <input type="submit" class="searchbutton" value="">

            <input type="hidden" name="searchtype" value="title"/>
        </form>
    </div>
    <div class="ad468">

    </div>
</div>
<div class="nav wrapper clearfix">


    <a href='index.html'>笑话首页</a>


    <a href='tetegaoxiao.html' rel='dropmenu1'>笑话大全</a>


    <a href='untitled.html'>搞笑图片</a>


</div>


<div class="index wrapper clearfix">
    <div class="category">
        <h2>笑话分类</h2>
        <ul class="clearfix">
            {% for i in tags %}
                <li><a href="tegaoxiao.html">{{ i.name }}<em> &nbsp({{ i.article_set.count }})</em></a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="new">
        <h2>最新笑话</h2>
        <ul>
            {% for i in article %}
                <li>
                    <span>10</span>
                    <a class="type" href="tegaoxiao.html" target="_blank">[{{ i.tag }}]</a>
                    <a href="tegaoxiao.html132.html" target="_blank">{{ i.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="recommend">
        <h2>推荐笑话</h2>
        <ul>
            {% for i in articles %}
                {% if forloop.counter < 4 %}
                    <li><em class="n1">{{ forloop.counter }}</em><a href="tegaoxiao.html132.html" target="_blank">{{ i.title }}</a></li>
                {% else %}
                    <li><em>{{ forloop.counter }}</em><a href="tegaoxiao.html132.html" target="_blank">{{ i.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
<div class="index wrapper clearfix ad960">
    <a href="#"><img src="http://demo13.adminbuy.cn/style//static/images/ad1.jpg" border="0"/></a>
</div>
<div class="index wrapper clearfix">
    <div class="tit">
        <a class="more" href="/pic/">更多»</a>
        <h2><a href="/pic/">搞笑图片</a></h2>
    </div>
    <div class="pic clearfix">
        {% for i in images %}
            <a target="_blank" href="/pic/116.html">
                <img alt="你们是练体操的吧，高难度" src="/static/images/{{ i.cover }}">
                <span>{{ i.title }}</span>
            </a>
        {% endfor %}
    </div>
</div>

<div class="index wrapper clearfix">
    <div class="joke">
        {% for i in tags %}
            <div class="item">
                <h2><a href='tegaoxiao.html'>{{ i.name }}</a></h2>
                <ul>
                    <li>
                        <span>{{ forloop.counter }}</span>
                        <a href="tegaoxiao.html11.html" target="_blank">{{ i.article_set.all }}</a>
                    </li>
                </ul>
            </div>
        {% endfor %}
    </div>
</div>
<div class="index wrapper clearfix ad960">
    <a href="#"><img src="http://demo13.adminbuy.cn/style//static/images/ad2.jpg" border="0"/></a>
</div>
<div class="index wrapper clearfix">
    <div class="tit">
        <a class="more" href="/pic/">更多»</a>
        <h2><a href="/pic/">搞笑图片</a></h2>
    </div>
    <div class="pic clearfix">
        <a target="_blank" href="/pic/108.html">
            <img alt="刮胡子也任性" src="http://demo13.adminbuy.cn/uploads/allimg/150410/1-150410110053612-lp.jpg">
            <span>刮胡子也任性</span>
        </a>
        <a target="_blank" href="/pic/107.html">
            <img alt="小孩也这么流氓" src="http://demo13.adminbuy.cn/uploads/allimg/150410/1-15041011003X13-lp.jpg">
            <span>小孩也这么流氓</span>
        </a>
        <a target="_blank" href="/pic/106.html">
            <img alt="你好，我是门，请多指教" src="http://demo13.adminbuy.cn/uploads/allimg/150410/1-150410110019612-lp.jpg">
            <span>你好，我是门，请多指教</span>
        </a>
        <a target="_blank" href="/pic/105.html">
            <img alt="为了拍的漂亮点也是拼了" src="http://demo13.adminbuy.cn/uploads/allimg/150410/1-150410105945257-lp.jpg">
            <span>为了拍的漂亮点也是拼了</span>
        </a>
        <a target="_blank" href="/pic/104.html">
            <img alt="嘴巴得干净点" src="http://demo13.adminbuy.cn/uploads/allimg/150410/1-150410105924219-lp.jpg">
            <span>嘴巴得干净点</span>
        </a>
        <a target="_blank" href="/pic/103.html">
            <img alt="这纹身绝了" src="http://demo13.adminbuy.cn/uploads/allimg/150410/1-150410105Z2551-lp.jpg">
            <span>这纹身绝了</span>
        </a>
        <a target="_blank" href="/pic/102.html">
            <img alt="鸡妈妈，那不是你的孩子，你" src="http://demo13.adminbuy.cn/uploads/allimg/150410/1-150410110053612-lp.jpg">
            <span>鸡妈妈，那不是你的孩子，你</span>
        </a>
        <a target="_blank" href="/pic/101.html">
            <img alt="我这辈子我真够累的" src="http://demo13.adminbuy.cn/uploads/allimg/150410/1-150410105R1432-lp.jpg">
            <span>我这辈子我真够累的</span>
        </a>
        <a target="_blank" href="/pic/21.html">
            <img alt="看到它，我顿时凌乱了" src="http://demo13.adminbuy.cn/uploads/allimg/150409/1-150409140546220-lp.jpg">
            <span>看到它，我顿时凌乱了</span>
        </a>
        <a target="_blank" href="/pic/20.html">
            <img alt="你俩是谁在模仿谁" src="http://demo13.adminbuy.cn/uploads/allimg/150409/1-1504091405121D-lp.jpg">
            <span>你俩是谁在模仿谁</span>
        </a>
        <a target="_blank" href="/pic/16.html">
            <img alt="这样的婚纱照也是醉了" src="http://demo13.adminbuy.cn/uploads/allimg/150409/1-150409134912516-lp.jpg">
            <span>这样的婚纱照也是醉了</span>
        </a>
        <a target="_blank" href="/pic/15.html">
            <img alt="看我无敌旋风腿" src="http://demo13.adminbuy.cn/uploads/allimg/150409/1-150409134S9108-lp.jpg">
            <span>看我无敌旋风腿</span>
        </a>


    </div>
</div>
<div class="links wrapper clearfix">
    <div class="tit">
        <span>合作QQ：9490489</span>
        <h3>友情链接</h3>
    </div>
    <p>
        <a href='http://www.adminbuy.cn' target='_blank'>网站模板</a>

        <a href='http://www.adminbuy.cn' target='_blank'>织梦模板</a>

        <a href='http://www.adminbuy.cn' target='_blank'>AB模板网</a>
    </p>
</div>
<div class="footer"><p><a href="/">AB模板网</a> Copyright &copy; 2002-2011 Www.AdminBuy.Cn. 版权所有</p></div>


</body>
</html>