<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>黑色时间轴</title>
<link href="/static/css/style.css" rel="stylesheet">
<link href="/static/css/animation.css" rel="stylesheet">
<link href="/static/css/lrtk.css" rel="stylesheet" />
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/js.js"></script>
</head>

<body>
<header>
	<nav id="nav">
    	<ul>
            {% for dh in dhs %}
                <li><a href="#" target="_blank" title="个人博客模板">{{ dh.dtitle }}</a></li>
            {% endfor %}
        </ul>
         <script src="/static/js/silder.js"></script><!--获取当前页导航 高亮显示标题--> 
    </nav>
</header>

<div id="mainbody">
	<div class="info">
        <figure>
            {% for tp in tps %}
                <img src="/static/media/booktest/mm.jpg" alt="秋。。。相知">
                <figcaption>
                    <strong>{{ tp.tname }}</strong>
                    {{ tp.tname }}
                </figcaption>
            {% endfor %}
        </figure>
        <div class="card">
        	 <h1>我的名片</h1>
            {% for mp in mps %}
              <p>{{ mp.mwangm }}</p>
            {% endfor %}
              <ul class="linkmore">
                <li><a href="/" class="talk" title="给我留言"></a></li>
                <li><a href="/" class="address" title="联系地址"></a></li>
                <li><a href="/" class="email" title="给我写信"></a></li>
                <li><a href="/" class="photos" title="生活照片"></a></li>
                <li><a href="/" class="heart" title="关注我"></a></li>
              </ul>
        </div>
    </div>

<!--info结束-->

<!--博客的列表开始-->
    <div class="blogs">
        <ul class="bloglist">
            {% for zw in zws %}
                <li>
                    <div class="row_box">
                        <div class="ti"></div><!--三角形-->
                        <div class="ci"></div><!--圆形-->
                        <h2 class="title"> <a href="#">{{ zw.wtitle }}</a></h2>
                        <ul class="textinfo">
                            <a href="#"><img src="/static/media/booktest/mm.jpg"></a>
                            <p>{{ zw.wneirong }}</p>
                        </ul>
                        <ul class="details">
                            <li class="likes"><a href="#">{{ zw.wpinglun }}</a></li>
                            <li class="comments"><a href="#">{{ zw.wdianzan }}</a></li>
                            <li class="icon_time"><a href="#">{{ zw.wdate }}</a></li>
                        </ul>
                    </div>
                </li>
            {% endfor %}
        </ul>
    
    <!--博客列表部分结束-->
    
    
    <!--右半部分开始-->
        <aside>
            <div class="tuijian">
                <h2>热门文章</h2>
                <ol>
                    {% for wz in wzs %}
                        <li><span> <strong>{{ forloop.counter }}</strong></span><a href="#">{{ wz.wtitle }}</a></li>
                    {% endfor %}
                </ol>
            </div>
            <div class="toppic">
                <h2>图文并茂</h2>
                <ul>
                    <li><a href="#"><img src="/static/images/k01.jpg">腐女不可怕，就怕腐女会画画！<p>伤不起</p></a> </li>
                    <li><a href="#"><img src="/static/images/k01.jpg">问前任，你还爱我吗？无限戳中泪点~<p>感兴趣</p></a> </li>
                    <li><a href="#"><img src="/static/images/k01.jpg">世上所谓幸福，就是一个笨蛋遇到一个傻瓜。<p>喜欢</p></a> </li>  
                </ul>
            </div>
            <div class="clicks">
                <h2>热门点击</h2>
                <ol>
                    {% for pl in pls %}
                        <li><span><a href="#">{{ pl.wenlei }}</a></span><a href="#">{{ pl.wtitle }}</a></li>
                    {% endfor %}
                </ol>
            </div>
            <div class="search">
                <form class="searchform" method="post" action="#">
                    <input type="text" placeholder="Search" name="s" onFocus="" onBlur="">
                </form>
            </div>
            <div class="viny">
                <dl>
                    <dt class="art"><img src="/static/images/artwork.png" alt="专辑"></dt>
                    <dd class="icon_song"><span></span>南方姑娘</dd>
                    <dd class="icon_artist"><span></span>歌手：赵雷</dd>
                    <dd class="icon_album"><span></span>所属专辑：《赵小雷》</dd>
                    <dd class="icon_like"><span></span><a href="#">喜欢</a></dd>
                    <dd class="music"><audio src="images/nf1.mp3" controls loop></audio></dd>
                </dl>
            </div>
        </aside>
	</div>
    <!--blogs结束-->
</div>
<!--mainbody结束-->
<footer>
    <div class="foot-mid">
        <div class="links">
        	<h2>友情链接</h2>
            <ul>
            	<li><a href="#">吴亚平个人博客</a></li>
                <li><a href="#"> 帮助中心</a></li>
            </ul>
        </div>
        <div class="visitors">
        	<h2>最新评论</h2>
            <dl>
            	<dt><img src="/static/images/s1.jpg"></dt>
            	<dd>DanceSmile<time>49分钟前</time></dd>
                <dd>在<a href="#" class="title">如果要学习web前端开发，需要学习什么？</a>中评论:</dd>
                <dd class="remark">文章非常详细，我很喜欢.前端的工程师很少，我记得几年前yahoo花高薪招聘前端也招不到</dd>
            </dl>
             <dl>
            	<dt><img src="/static/images/s1.jpg"></dt>
            	<dd>DanceSmile<time>2小时前</time></dd>
                <dd>在<a href="#" class="title">芭蕾女孩的心事儿</a>中评论:</dd>
                <dd class="remark">我手机里面也有这样一个号码存在</dd>
            </dl>
             <dl>
            	<dt><img src="/static/images/s1.jpg"></dt>
            	<dd>DanceSmile<time>1月7日</time></dd>
                <dd>在<a href="#" class="title">如果个人博客网站再没有价值，你还会坚持吗？</a>中评论:</dd>
                <dd class="remark">博客色彩丰富，很是好看</dd>
            </dl>
        </div>
        <section class="flickr">
        	<h2>摄影作品</h2>
            <ul>
            	<li><a href="#"><img src="/static/images/01.jpg"></a></li>
                <li><a href="#"><img src="/static/images/01.jpg"></a></li>
                <li><a href="#"><img src="/static/images/01.jpg"></a></li>
                <li><a href="#"><img src="/static/images/01.jpg"></a></li>
                <li><a href="#"><img src="/static/images/01.jpg"></a></li>
                <li><a href="#"><img src="/static/images/01.jpg"></a></li>
                <li><a href="#"><img src="/static/images/01.jpg"></a></li>
                <li><a href="#"><img src="/static/images/01.jpg"></a></li>
                <li><a href="#"><img src="/static/images/01.jpg"></a></li>
            </ul>
        </section>
    </div>
    <div class="foot-bottom">
    	 <p>Copyright 2015 Design by <a href="#">Jeniffer</a></p>
    </div>
</footer>


<div id="tbox"> <a id="togbook" href="#"></a>
 <a id="gotop" href="javascript:void(0)"></a> </div>

</body>
</html>
