{% load i18n %}
<style type="text/css">
    .qq{
        font-size: 20px;
        color: #1E9FFF;
    }
</style>
<div class="pagination">
    {% if articles.has_previous %}
        <a href="?{{ articles.previous_page_number.querystring }}" class="prev qq">上一页&nbsp;&nbsp;</a>
    {% else %}
        <span class="disabled prev qq">上一页&nbsp;&nbsp;</span>
    {% endif %}
    {% for page in articles.pages %}
        {% if page %}
            {% ifequal page articles.number %}
                <span class="current page qq">{{ page }}&nbsp;</span>
            {% else %}
                <a href="?{{ page.querystring }}" class="page qq">{{ page }}&nbsp;</a>
            {% endifequal %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
    {% if articles.has_next %}
        <a href="?{{ articles.next_page_number.querystring }}" class="next qq">&nbsp;&nbsp;下一页</a>
    {% else %}
        <span class="disabled next qq">&nbsp;&nbsp;下一页</span>
    {% endif %}
</div>